.about-section {
    padding: 102px 0;
}

.about-content {
    text-align: center;

    .about__title {
        margin-bottom: 52px;

        .about__title--colored {
            color: $brand-color;
        }
    }

    .about__description {
        margin-bottom: 102px;

        .about__description--colored {
            color: $brand-color;
        }
    }
}

.about-content-blocks {
    margin-bottom: 98px;

    .about-content-block-left {
        text-align: justify;

        .block-left__description {
            margin-bottom: 44px;

            font-family: 'Lato Regular';
        }

        .block-who,
        .block-experiences,
        .block-learn-more {
            margin-bottom: 10px;

            .block-title {
                display: flex;
                align-items: center;

                height: 44px;

                border: 1px solid $border-color;

                background-color: $item-color;
                color: $grey-color;

                &:hover {
                    color: $brand-color;
                }

                .image {
                    margin: 0 20px;

                    width: 18px;
                    height: 18px;
                }

                .title {
                    margin-left: 32px;
    
                    font-family: 'Raleway Bold';
                    font-size: 20px;
                }
            }

            .description {
                display: none;

                padding: 15px;

                font-family: 'Lato Regular';
                font-size: 14px;
                line-height: 1.5;
            }

            .active {
                display: block;
            }
        }
    }

    .about-content-block-right {
        position: relative;

        .center-image {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: 426px;
            height: 370px;

            z-index: 10;

            background: url(../img/center-img.png) no-repeat;
        }

        .left-image {
            position: absolute;
            top: 50%;
            left: 0;

            transform: translateY(-50%);

            width: 375px;
            height: 324px;

            z-index: 0;

            background: url(../img/left-img.png) no-repeat;
        }

        .right-image {
            position: absolute;
            top: 50%;
            right: 0;

            transform: translateY(-50%);

            width: 375px;
            height: 324px;

            z-index: 0;

            background: url(../img/right-img.png) no-repeat;
        }
    }
}

.separator {

    .line {
        position: relative;
        
        height: 1px;

        margin: 0 auto;

        background-color: $grey-color-2;

        .hexagon {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            width: 20px;
            height: 20px;

            clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);

            background-color: $grey-color;
        }
    }
}