.header-section {
    position: relative;

    transition: background-image .5s ease-in-out;

    background: rgba(0, 0, 0, 0.7) url(../img/header-bg-1.png) no-repeat top center / cover;
    background-blend-mode: darken;
}

.left__arrow,
.right__arrow {
    position: absolute;
    top: 50%;

    width: 17px;
    height: 28px;

    font-size: 30px;

    transform: translateY(-50%);

    cursor: pointer;

    color: $lightgrey-color;

    &:hover {
        color: $brand-color;
    }
}

.left__arrow {
    left: 36px;
}

.right__arrow {
    right: 36px;
}

.header-menu-wrapper {
    height: 66px;

    background-color: #000;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        height: 66px;

        .logo__link {
            outline: none;

            .logo__image {
                width: 100%;

                margin-left: 10px;
            }
        }
    }

    .header-list-btn {
        width: 100%;

        margin-right: 26px;

        font-size: 24px;

        cursor: pointer;

        color: $lightgrey-color;
    }

    .header-nav {

        .header-list {
            width: 100%;

            margin-right: 10px;

            .list__item {
                margin-left: 34px;
    
                .list__link {
                    font-size: 18px;
                    text-transform: uppercase;
    
                    color: $list-item-color;
    
                    &:hover {
                        padding: 18px 0;
    
                        border-bottom: 3px solid $brand-color;
    
                        color: #fff;
                    }
                }
            }
        }
    }
}

.header-content {
    padding: 218px 0 250px 0;

    text-align: center;

    color: #fff;

    .header__title {
        margin-bottom: 52px;
    
        .header__title--colored {
            color: $brand-color;
        }
    }

    .header__description {
        margin: 0 70px 50px 70px;

        font-family: 'Lato Regular';

        color: #fff;
    }

    .header__btn {
        margin: 10px 15px;

        @include add_button(170px, 55px, $grey-color, #fff);

        &:hover {
            background-color: $brand-color;
        }
    }
}