@media only screen and (min-width: 320px) {
    .container {
        min-width: 320px;
    }

    .header-menu {

        .header-list-btn {
            display: flex;
            justify-content: flex-end;
        }

        .header-list {
            display: none;
        }
    }

    .separator {

        .line {
            width: 320px;
        }
    }

    .about-content-blocks {
        display: flex;
        flex-direction: column;
        align-items: center;

        .about-content-block-left,
        .about-content-block-right {
            min-width: 320px;
        }

        .about-content-block-right {
            display: none;
        }
    }

    .features-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .features-block {
            padding-bottom: 60px;
        }
    }

    .portfolio-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 300px;

        .portfolio__image {
            width: 300px;
        }
    }

    .product-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .right-block,
        .left-block,
        .center-block {
            width: 320px;
        }

        .left-block {
            margin-bottom: 20px;
        }

        .center-block {
            margin-bottom: 110px;
        }

        .front-block,
        .back-block {
            display: none;
        }

        .feature__title {
            font-size: 18px;
        }

        .product__btn {
            margin-bottom: -30px;
        }
    }

    .clients-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .companies-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .clients-content-block-left,
        .clients-content-block-right {
            min-width: 320px;
        }
    }

    .teamwork-content {

        .teamwork-block {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .team-block {
                margin-bottom: 30px;
            }
        }
    }

    .skills-content {

        .skills-block {
            display: flex;
            flex-direction: column;
            align-items: center;

            .skill {
                margin-bottom: 40px;
            }
        }
    }

    .services-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

        .service-block {
            min-width: 320px;
        }
    }

    .plans-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

        .plan-block {
            margin-bottom: 40px;
        }
    }

    .twitter-content {
        min-width: 320px;
    }

    .blog-content {

        .new-block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            .new__image {
                width: 320px;
            }
    
            .new-information {
                width: 320px;
            }
        }
    }

    .follow-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .find-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        .contacts-block {
            width: 100%;
        }

        .form-block {

            .input,
            .textarea {
                width: 320px;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .container {
        min-width: 576px;
    }

    .separator {

        .line {
            width: 516px;
        }
    }

    .about-content-blocks {

        .about-content-block-left,
        .about-content-block-right {
            width: 570px;
        }

        .about-content-block-right {
            display: block;

            margin: 260px 0 200px 0;
        }
    }

    .product-content {

        .right-block,
        .left-block,
        .center-block {
            width: 370px;
        }

        .center-block {
            margin-bottom: 150px;
        }

        .front-block,
        .back-block {
            display: block;
        }

        .feature__title {
            font-size: 20px;
        }

        .product__btn {
            margin-bottom: 0;
        }
    }

    .clients-content {

        .clients-content-block-left,
        .clients-content-block-right {
            width: 570px;
        }
    }

    .services-content {

        .service-block {
            width: 570px;
        }
    }

    .follow-content {
        flex-direction: row;
    }

    .find-container {

        .form-block {

            .input,
            .textarea {
                width: 370px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        min-width: 768px;
    }
    
    .portfolio-content {
        width: 700px;

        .portfolio__image {
            width: 100%;
        }
    }

    .clients-content {
        
        .companies-block {
            flex-direction: row;
        }

        .clients-content-block-left,
        .clients-content-block-right {
            width: 570px;
        }
    }

    .teamwork-content {

        .teamwork-block {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            width: 570px;

            margin: 0 auto;
        }
    }

    .skills-content {
        
        .skills-block {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .plans-content {
        flex-direction: row;
        justify-content: space-between;

        width: 570px;

        margin: 0 auto;
    }

    .twitter-content {
        width: 640px;
    }

    .blog-content {

        .new-block {
            flex-direction: row;
    
            .new__image {
                width: 370px;
            }
    
            .new-information {
                width: 570px;

                margin-left: 20px;
            }
        }
    }

    .find-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .contacts-block {
            width: 300px;
        }

        .form-block {
            width: 470px;
        }
    }
}

@media only screen and (min-width: 992px) {
    .container {
        min-width: 992px;
    }

    .blog-content {
        width: 970px;

        margin: 0 auto;
    }

    .find-container {
        width: 970px;

        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    
    .header-menu {

        .header-list-btn {
            display: none;
        }

        .header-list {
            display: flex;
            align-items: center;
        }
    }

    .about-content-blocks {
        flex-direction: row;
        justify-content: space-between;

        .about-content-block-left,
        .about-content-block-right {
            margin: 0;
        }
    }

    .features-content {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .features-block {
            padding-bottom: 0;
        }
    }

    .product-content {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .center-block,
        .left-block {
            margin-bottom: 0;
        }
    }

    .clients-content {
        flex-direction: row;
        justify-content: space-between;

        .companies-block {
            justify-content: space-between;
        }
    }

    .teamwork-content {

        .teamwork-block {
            flex-wrap: nowrap;

            width: 100%;
        }
    }

    .services-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .plans-content {
        width: 100%;

        .plan-block {
            margin-bottom: 0;
        }
    }
}

@media only screen and (min-width: 1400px) {
    .portfolio-content {
        width: 1400px;
    }
}