@media only screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
    
    .logo__image {
        width: 75%;
    }

    .header-list-btn {
        display: block;
    }

    .header-list {
        display: none;
    }

    .separator {

        .line {
            width: 320px;
        }
    }

    .about-content-blocks {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .about-content-block-left,
        .about-content-block-right {
            width: 320px;

            margin-bottom: 260px;
        }
    }

    .features-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 50%;

        margin: 0 auto;

        .features-block {
            padding-bottom: 40px;
        }
    }

    .portfolio-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        width: 50%;

        .portfolio__image {
            width: 300px;
        }
    }

    .product-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        .right-block,
        .left-block,
        .center-block {
            width: 320px;
        }

        .center-block {
            margin-bottom: 130px;
        }

        .feature__title {
            font-size: 18px;
        }
    }

    .clients-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        .companies-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .clients-content-block-left,
        .clients-content-block-right {
            width: 320px;
        }
    }

    .teamwork-block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        .team-block {
            margin-bottom: 20px;
        }
    }

    .skills-block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .services-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        .service-block {
            width: 320px;
        }
    }

    .follow-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .plans-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .twitter-content {
        width: 320px;
    }

    .new-block {
        display: flex;
        flex-direction: column;

        .new__image {
            width: 320px;
        }

        .new-information {
            width: 320px;
        }
    }

    .find-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        margin: 0 auto;

        .contacts-block {
            width: 100%;
        }

        .form-block {

            .input,
            .textarea {
                width: 320px;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .container {
        width: 576px;
    }
    
    .logo__image {
        width: 100%;
    }

    .separator {

        .line {
            width: 516px;
        }
    }

    .about-content-blocks {

        .about-content-block-left,
        .about-content-block-right {
            width: 570px;

            margin-bottom: 0;
        }
    }

    .right-block,
    .left-block,
    .center-block {
        width: 370px;
    }

    .feature__title {
        font-size: 20px;
    }

    .clients-content {

        .clients-content-block-left,
        .clients-content-block-right {
            width: 570px;
        }
    }

    .services-content {

        .service-block {
            width: 570px;
        }
    }

    .twitter-content {
        width: 576px;
    }

    .new-block {

        .new__image {
            width: 370px;
        }

        .new-information {
            width: 570px;
        }
    }

    .follow-content {
        flex-direction: row;
        align-items: center;
    }

    .find-container {

        .form-block {

            .input,
            .textarea {
                width: 370px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    
    .portfolio-content {
        flex-wrap: wrap;
        justify-content: center;
        
        width: 700px;
        
        margin: 0 auto;

        .portfolio__image {
            width: 100%;
        }
    }

    .plans-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 50%;

        .plan-block {
            margin-bottom: 30px;
        }
    }

    .twitter-content {
        width: 640px;
    }

    .find-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .contacts-block {
            width: 300px;
        }

        .form-block {
            width: 470px;
        }
    }

    .new-block {
        flex-direction: row;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 992px;
    }
    
    .header-list-btn {
        display: none;
    }
    
    .header-list {
        display: flex;
    }

    .find-container {
        width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    
    .about-content-blocks {
        flex-direction: row;
        justify-content: space-between;
    }

    .features-content {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        .features-block {
            padding-bottom: 0;
        }
    }

    .portfolio-content {
        flex-wrap: wrap;
        align-items: center;
        
        width: 1400px;
    }

    .product-content {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .center-block {
            margin-bottom: 0;
        }
    }

    .clients-content {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .companies-block {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    .teamwork-block {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .team-block {
            margin-bottom: 0;
        }
    }

    .skills-block {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .services-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .plans-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        .plan-block {
            margin-bottom: 0;
        }
    }
}