.portfolio-section {
    padding: 102px 0 98px 0;

    background-color: $grey-color-2;
}

.portfolio-header {
    text-align: center;

    .portfolio__title {
        margin-bottom: 30px;

        color: #fff;
    }

    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        margin-bottom: 102px;

        .list__item {
            font-family: 'Lato Bold';
            font-size: 16px;
            line-height: 1.375;
            text-transform: uppercase;

            margin: 6px 10px;

            .list__link {
                transition: color .5s ease-out;

                color: $list-item-color;

                &:hover {
                    color: $brand-color;
                }
            }
        }
    }
}

.portfolio-content {
    margin: 0 auto;

    .portfolio-block {
        position: relative;

        cursor: pointer;

        color: #fff;

        &:hover {

            .portfolio__image {
                filter: brightness(30%);
            }
        }

        .portfolio__image {
            display: block;

            transition: filter .25s ease-in-out;
        }

        &:hover {

            .information-block {
                display: block;
            }
        }
            
        .information-block {
            display: none;

            .portfolio__add {
                position: absolute;
                top: 45%;
                left: 50%;
    
                font-size: 24px;
    
                transform: translate(-50%, -55%);
            }
    
            .portfolio__title {
                position: absolute;
                top: 60%;
                left: 50%;
    
                font-family: 'Lato Regular';
                font-size: 16px;
                line-height: 1.375;
    
                transform: translate(-50%, -40%);
            }
        }
    }
}