.product-section {
    padding: 82px 0 102px 0;
}

.product-header {
    margin-bottom: 102px;

    text-align: center;

    .product__title {
        margin-bottom: 58px;

        .product__title--colored {
            color: $brand-color;
        }
    }

    .product__description--colored {
        color: $brand-color;
    }
}

.product-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 98px;

    .left-block,
    .right-block {
        width: 370px;

        .feature {
            margin-bottom: 10px;

            border: 1px solid $border-color;

            .block-feature {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                padding: 10px;

                transition: all .25s ease-in-out;

                &:hover {
                    background-color: $brand-color;

                    .feature__title {
                        color: #fff;
                    }

                    .feature-ok {
                        background-color: #fff;

                        .ok__image {
                            color: $brand-color;
                        }
                    }
                }

                .feature__title {
                    text-transform: uppercase;

                    color: $grey-color-2;
                }

                .feature-ok {
                    margin: 0 14px;
                    padding: 8px 10px;

                    font-size: 12px;

                    clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);

                    background-color: $border-color;

                    .ok__image {
                        color: $grey-color;
                    }
                }
            }
        }
    }

    .center-block {
        position: relative;

        width: 370px;

        z-index: 100;

        .front-block,
        .back-block {
            position: absolute;
            left: 50%;

            transform: translateX(-50%);

            width: 470px;
            height: 200px;
        }

        .front-block {
            bottom: -115px;

            clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);

            background-color: $grey-color-2;
        }

        .back-block {
            top: 208px;

            z-index: -10;

            clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);

            background-color: $description-color;
        }

        .product__btn {
            @include add_button(170px, 50px, $description-color, #fff);

            position: absolute;
            top: 90%;
            left: 50%;

            transform: translate(-50%, -90%);
        
            display: block;
        
            margin: 78px auto;
        
            &:hover {
                background-color: $brand-color;
            }
        }
    }

    .right-block {

        .feature {

            .block-feature {
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}