.skills-section {
    padding: 58px 0 106px 0;
}

.skills-header {
    text-align: center;

    .skills__title {
        margin-bottom: 48px;

        .skills__title--colored {
            color: $brand-color;
        }
    }

    .skills__description {
        margin-bottom: 102px;

        .skills__description--colored {
            color: $brand-color;
        }
    }
}

.skills-content {

    .skills-block {
        text-align: center;

        .skill {
            margin: 10px 15px;

            .skill-circle {
                position: relative;

                width: 146px;
                height: 146px;
        
                margin: 0 auto 24px auto;
        
                border: 3px solid $border-color;
                border-radius: 50%;
        
                background-color: transparent;

                &:after {
                    content: '';

                    position: absolute;
                    top: -3px;
                    left: -3px;

                    width: 100%;
                    height: 100%;

                    border: 3px solid transparent;
                    border-top: 3px solid $brand-color;
                    border-left: 3px solid $brand-color;
                    border-bottom: 3px solid $brand-color;
                    border-radius: 50%;
                }
        
                .number {
                    font-family: 'Lato Light';
                    font-size: 40px;
                    line-height: 2.375;
        
                    color: $brand-color;
        
                    .percent {
                        line-height: 142px;
        
                        color: $grey-color;
                    }
                }
            }
    
            .skill__title {
                margin-bottom: 26px;
    
                text-transform: uppercase;
    
                color: $grey-color-2;
            }

            .skill__description {
                font-family: 'Lato Regular';
            }
        }
    }
}