* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: 'Raleway Regular';
}

h1 {
    font-family: 'Raleway Bold';
    font-size: 30px;
}

h2 {
    font-family: 'Raleway Medium';
    font-size: 20px;
}

h3 {
    font-family: 'Lato Regular';
    font-size: 12px;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

p {
    font-family: 'Lato Black';
    font-size: 16px;
    line-height: 1.375;

    color: $description-color;
}

ul {
    list-style-type: none;
}

li,
a {
    text-decoration: none;
}

button {
    font-family: 'Lato Regular';
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    transition: all .5s ease-in-out;
}