.twitter-section {
    position: relative;

    padding: 98px 0;

    overflow: hidden;

    z-index: 100;

    background-color: $grey-color-2;

    .twitter-icon {
        position: absolute;
        bottom: -10px;
        left: 40px;

        transform: rotate(-20deg);
        
        font-size: 220px;

        z-index: -10;

        color: $twitter-icon-color;
    }
}

.twitter-content {
    margin: 0 auto;

    text-align: center;

    .twitter__icon {
        font-size: 46px;

        margin-bottom: 24px;

        color: $brand-color;
    }

    .twitter__description {
        font-family: 'Lato Regular';

        color: #fff;
    }
}