$brand-color: #ff0036;

$grey-color: #131313;
$grey-color-2: #262626;
$lightgrey-color: #a4a4a4;
$light-color: #f2f2f2;

$list-item-color: #9c9c9c;

$description-color: #505050;
$description-background-color: #343434;
$description-background-color-2: #3d2329;

$border-color: #e7e7e7;
$item-color: #f7f7f7;

$twitter-icon-color: #3d3d3d;