@font-face {
  font-family: 'Lato Light';
  src: url("/app/fonts/Lato/Lato-Light.eot");
  src: url("/app/fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Light.woff") format("woff"), url("/app/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("/app/fonts/Lato/Lato-Regular.eot");
  src: url("/app/fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Regular.woff") format("woff"), url("/app/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("/app/fonts/Lato/Lato-Bold.eot");
  src: url("/app/fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Bold.woff") format("woff"), url("/app/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Black';
  src: url("/app/fonts/Lato/Lato-Black.eot");
  src: url("/app/fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Black.woff") format("woff"), url("/app/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("/app/fonts/Raleway/Raleway-Regular.eot");
  src: url("/app/fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-Regular.woff") format("woff"), url("/app/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("/app/fonts/Raleway/Raleway-Medium.eot");
  src: url("/app/fonts/Raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-Medium.woff") format("woff"), url("/app/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("/app/fonts/Raleway/Raleway-SemiBold.eot");
  src: url("/app/fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("/app/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("/app/fonts/Raleway/Raleway-Bold.eot");
  src: url("/app/fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-Bold.woff") format("woff"), url("/app/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway Regular';
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  position: relative;
  background: rgba(0, 0, 0, 0.7) url(../img/header-bg.png) no-repeat top center/cover;
  background-blend-mode: darken;
}

.left__arrow {
  display: block;
  position: absolute;
  top: 50%;
  left: 36px;
  width: 17px;
  height: 28px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  background: url(../img/left-arrow.png) no-repeat;
}

.right__arrow {
  position: absolute;
  top: 50%;
  right: 36px;
  width: 17px;
  height: 28px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  background: url(../img/right-arrow.png) no-repeat;
}

.header-menu-wrapper {
  height: 66px;
  background-color: #000;
}

.header-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 66px;
}

.header-menu .header-logo {
  height: 66px;
}

.header-menu .header-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-menu .header-list .list__item {
  margin-left: 34px;
}

.header-menu .header-list .list__item .list__link {
  font-size: 18px;
  text-transform: uppercase;
  color: #99999a;
}

.header-menu .header-list .list__item .list__link:hover {
  padding: 18px 0;
  border-bottom: 3px solid #ff0036;
  color: #fff;
}

.header-content {
  padding: 218px 0 250px 0;
  text-align: center;
  color: #fff;
}

.header-content .header__title {
  margin-bottom: 52px;
  line-height: 1.2;
}

.header-content .header__title .header__title--colored {
  color: #ff0036;
}

.header-content .header__description {
  margin: 0 70px 50px 70px;
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 1.375;
}

.header-content .header__btn {
  width: 170px;
  height: 50px;
  margin: 0 15px;
  font-family: 'Raleway Medium';
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: #131313;
  color: #fff;
}

.header-content .header__btn:hover {
  background-color: #ff0036;
  color: #fff;
}

.section-about {
  padding: 102px 0;
}

.about-content {
  text-align: center;
}

.about-content .about__title {
  margin-bottom: 52px;
  font-family: 'Raleway Medium';
  font-size: 30px;
  line-height: 1.2;
}

.about-content .about__title .about__title--colored {
  color: #ff0036;
}

.about-content .about__description {
  margin-bottom: 102px;
  font-family: 'Lato SemiBold';
  font-size: 16px;
  color: #505050;
}

.about-content .about__description .about__description--colored {
  color: #ff0036;
}

.about-content-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-content-blocks .about-content-block-left,
.about-content-blocks .about-content-block-right {
  width: 570px;
}

.about-content-blocks .about-content-block-left {
  text-align: justify;
}

.about-content-blocks .about-content-block-left .block-left__description {
  margin-bottom: 44px;
  font-family: 'Lato Regular';
  font-size: 16px;
  line-height: 1.375;
  color: #505050;
}

.about-content-blocks .about-content-block-left .block-who,
.about-content-blocks .about-content-block-left .block-experiences,
.about-content-blocks .about-content-block-left .block-learn-more {
  margin-bottom: 10px;
}

.about-content-blocks .about-content-block-left .block-who .block-title,
.about-content-blocks .about-content-block-left .block-experiences .block-title,
.about-content-blocks .about-content-block-left .block-learn-more .block-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 44px;
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

.about-content-blocks .about-content-block-left .block-who .block-title .image,
.about-content-blocks .about-content-block-left .block-experiences .block-title .image,
.about-content-blocks .about-content-block-left .block-learn-more .block-title .image {
  margin: 0 20px;
  width: 18px;
  height: 18px;
}

.about-content-blocks .about-content-block-left .block-who .block-title .title,
.about-content-blocks .about-content-block-left .block-experiences .block-title .title,
.about-content-blocks .about-content-block-left .block-learn-more .block-title .title {
  margin-left: 32px;
  font-family: 'Raleway Medium';
  font-size: 20px;
}

.about-content-blocks .about-content-block-left .block-who .description,
.about-content-blocks .about-content-block-left .block-experiences .description,
.about-content-blocks .about-content-block-left .block-learn-more .description {
  margin: 15px;
  font-family: 'Lato Regular';
  font-size: 14px;
  line-height: 1.5;
  display: none;
  color: #505050;
}

.about-content-blocks .about-content-block-left .block-who .active,
.about-content-blocks .about-content-block-left .block-experiences .active,
.about-content-blocks .about-content-block-left .block-learn-more .active {
  display: block;
}

.about-content-blocks .about-content-block-right {
  position: relative;
}

.about-content-blocks .about-content-block-right .center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 426px;
  height: 370px;
  z-index: 10;
  background: url(../img/center-img.png) no-repeat;
}

.about-content-blocks .about-content-block-right .left-image {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 375px;
  height: 324px;
  z-index: 0;
  background: url(../img/left-img.png) no-repeat;
}

.about-content-blocks .about-content-block-right .right-image {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 375px;
  height: 324px;
  z-index: 0;
  background: url(../img/right-img.png) no-repeat;
}
