@font-face {
  font-family: 'Lato Light';
  src: url("/app/fonts/Lato/Lato-Light.eot");
  src: url("/app/fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Light.woff") format("woff"), url("/app/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Regular';
  src: url("/app/fonts/Lato/Lato-Regular.eot");
  src: url("/app/fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Regular.woff") format("woff"), url("/app/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("/app/fonts/Lato/Lato-Bold.eot");
  src: url("/app/fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Bold.woff") format("woff"), url("/app/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Black';
  src: url("/app/fonts/Lato/Lato-Black.eot");
  src: url("/app/fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Lato/Lato-Black.woff") format("woff"), url("/app/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Regular';
  src: url("/app/fonts/Raleway/Raleway-Regular.eot");
  src: url("/app/fonts/Raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-Regular.woff") format("woff"), url("/app/fonts/Raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Medium';
  src: url("/app/fonts/Raleway/Raleway-Medium.eot");
  src: url("/app/fonts/Raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-Medium.woff") format("woff"), url("/app/fonts/Raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Semibold';
  src: url("/app/fonts/Raleway/Raleway-SemiBold.eot");
  src: url("/app/fonts/Raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-SemiBold.woff") format("woff"), url("/app/fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Bold';
  src: url("/app/fonts/Raleway/Raleway-Bold.eot");
  src: url("/app/fonts/Raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("/app/fonts/Raleway/Raleway-Bold.woff") format("woff"), url("/app/fonts/Raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
